<div class="footer__container">
  <div class="footer__container__link">
    <a href="#top">
      <img
        class="footer__link"
        src="./images/ico-arrow.svg"
        alt="arrow pointing up"
      />
    </a>
  </div>

  <ul class="footer__list">
    <li><a class="list__elements" href="https://adalab.es.">ARTICLES</a></li>
    <li><a class="list__elements" href="https://adalab.es.">BOOKS</a></li>
    <li><a class="list__elements" href="https://adalab.es.">EVENTS</a></li>
    <li><a class="list__elements" href="https://adalab.es.">REASONS</a></li>
    <li><a class="list__elements" href="https://adalab.es.">TIPS</a></li>
  </ul>

  <ul class="footer__list__socialmedia">
    <li>
      <a class="list__socialmedia--elements" href="https://adalab.es."
        >TWITTER</a
      >
    </li>
    <li>
      <a class="list__socialmedia--elements" href="https://adalab.es."
        >INSTAGRAM</a
      >
    </li>
    <li>
      <a class="list__socialmedia--elements" href="https://adalab.es."
        >MASTODON.SOCIAL</a
      >
    </li>
  </ul>

  <span class="footer__copy"> &copy;2022 </span>

  <span class="footer__love__components"> we 🧡 components </span>
</div>
