<section id="hero" class="hero__container">
  <!-- Me pareció mejor idea (visualmente hablando) que el botón del footer saltara y mostrara todo el bloque del hero en lugar de solo el icono. -->
  <div class="hero__content">
    <h1 class="hero__title">ANONYMOUS PROXY</h1>
    <p class="hero__paragraph">In hac habitasse platea dictumst.</p>
  </div>

  <div class="hero__container__link">
    <a href="#middle">
      <img
        class="hero__link"
        src="./images/ico-scroll-down.svg"
        alt="arrow pointing down"
      />
    </a>
  </div>
  
</section>
