<div class="module3__wrapper">
  <section class="module3__container">

    <h2 class="module3__title" id="middle">3 Reasons To Purchase</h2>

    <article class="module3__article01">
      <h3 class="article__title">Ut sed metus</h3>
      <p class="article__paragraph">Lorem ipsum dolor sit amet, consecteur.</p>
    </article>

    <article class="module3__article02">
      <h3 class="article__title">Curabitur ac erat</h3>
      <p class="article__paragraph">Mauris mattis urna quis lorem molestie</p>
    </article>

    <article class="module3__article03">
      <h3 class="article__title">Morbi dictum</h3>
      <p class="article__paragraph">Aliquam in dolor et dolor tincidunt.</p>
    </article>

    <div class="module3__button">
      <a class="module3__link" href="https://adalab.es." target="_blank">
        More reasons
      </a>
    </div>
    
  </section>
</div>
