<div class="module2__container">
  <span class="module2__insomnia"> Insomnia Tips </span>
  <h2 class="module2__h2">Looking Through A Window</h2>
  <div class="module2__paragraph__container">
    <p class="module2__paragraph">
      Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at
      luctus ex diam nec lectus. Vivamus semper sodales rutrum.
    </p>
  </div>
  <span class="module2__button">
    <a class="module2__link" href="https://adalab.es." target="_blank"> Go </a>
  </span>
</div>
