* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  :root {
    font-family: "Roboto", sans-serif;
    --brand-white: white;
    --brand-color-fff: #fff;
    --brand-color-orange: #f26002;
    --brand-color-iceblue: #eff9ff;
    --brand-color-blue: #0271bc;
    --brand-color-blueintense: #304268;
    --brand-color-babyblue: #8ccbea;
    --brand-color-gray: #4a4a4a;
  }

  
