.module2__wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #fff;
  border: solid 3px yellow; // ------------------ BORRAR ÉSTA PARTE --------------------------//
}

.module2__container {
  width: 100%;
  max-width: 100%;
  height: 25em;
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding-top: 37px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 45px;
  gap: 20px;
  border: solid 3px dodgerblue; // ------------------ BORRAR ÉSTA PARTE --------------------------//
}

.module2__insomnia {
  display: inline-block;
  height: 30px;
  color: #8ccbea;
  font-size: 20px;
  text-align: left;
}

.module2__h2 {
  font-family: "Roboto Slab", serif;
  font-size: 35px;
}

.module2__paragraph {
  font-size: 20px;
  color: #4a4a4a;
  line-height: 1.6;
  text-align: justify;
}

.module2__button {
  width: 76px;
  height: 45px;
  align-content: center;
  text-align: center;
  border-radius: 28px;
  border: solid 3px #f26002;
}

.module2__link {
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  color: #f26002;
}

@media (min-width: 768px) {
  .module2__container {
    max-width: 720px;
    height: 21.7em;
    padding-left: 39px;
    padding-right: 39px;
    padding-bottom: 50px;
  }

  .module2__insomnia {
    height: 25px;
    font-size: 15px;
  }

  .module2__h2 {
    font-size: 27px;
  }

  .module2__paragraph {
    font-size: 20px;
  }

  .module2__button {
    width: 91px;
    height: 45px;
    border: solid 2px #f26002;
  }
}

@media (min-width: 1024px) {
  .module2__container {
    max-width: 960px;
  }
}

@media (min-width: 1280px) {
  .module2__container {
    max-width: 1200px;
    height: 22.5em;
    padding-top: 45px;
    padding-left: 215px;
    padding-right: 215px;
  }
}
