.module3__wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: var(--brand-color-iceblue);
}

.module3__container {
  width: 100%;
  max-width: 100%;
  height: 55em;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 2fr 2.5fr 2.5fr 2.5fr 1.5fr;
  justify-content: space-around;
  align-items: center;
  padding-top: 26px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 85px;
  text-align: center;
}

.module3__title {
  grid-column: 1/4;
  font-family: "Roboto Slab", serif;
  font-size: 35px;
}

.module3__article01 {
  grid-column: 2/3;
}

.module3__article02 {
  grid-column: 2/3;
}

.module3__article03 {
  grid-column: 2/3;
}

.module3__article01,
.module3__article02,
.module3__article03 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.6;
}

.article__title {
  font-family: "Roboto Slab", serif;
  font-size: 26px;
}

.article__paragraph {
  font-size: 25px;
}

.module3__button {
  grid-column: 2/3;
  height: 50px;
  display: block;
  text-align: center;
  padding-top: 5px;
  border-radius: 25px;
  cursor: pointer;
  background-color: var(--brand-color-orange);
  border: solid 3px var(--brand-white);
  transition: transform 0.4s ease-in, background-color 0.2s ease,
    border 0.3s ease-in;
}

.module3__link {
  width: 100%;
  height: 100%;
  display: block;
  text-decoration: none;
  border-radius: 15px;
  font-size: 27px;
  color: var(--brand-white);
}

.module3__button:hover {
  transform: scale(1.3);
  background-color: var(--brand-white);
  border: solid 3px var(--brand-color-orange);
}

.module3__link:hover {
  font-weight: 600;
  color: var(--brand-color-orange);
}

@media (min-width: 768px) {
  .module3__container {
    max-width: 720px;
    height: 24.82em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 4fr 2fr;
    row-gap: 50px;
    padding-bottom: 50px;
  }

  .module3__title {
    font-size: 26px;
  }

  .module3__article01 {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .module3__article02 {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .module3__article03 {
    grid-column: 3/4;
    grid-row: 2/3;
  }

  .module3__button {
    grid-column: 2/3;
    grid-row: 3/4;
  }

  .article__title {
    font-size: 24px;
  }

  .article__paragraph {
    font-size: 20px;
  }

  .module3__button {
    height: 45px;
    padding-top: 0px;
  }

  .module3__link {
    font-size: 20px;
    padding-top: 7px;
  }
}

@media (min-width: 1024px) {
  .module3__container {
    max-width: 960px;
  }
}

@media (min-width: 1280px) {
  .module3__container {
    max-width: 1200px;
    height: 26.7em;
    padding-top: 45px;
    padding-left: 215px;
    padding-right: 215px;
  }
}
